* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.box {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ul {
    margin: 0;
}

.hidden {
    display: none !important;
}


.admin {
    display: flex;


    .left {

        color: white;
        background-color: black;
        padding: 0 20px;

        .left-header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            position: relative;

            .left-icon {
                position: absolute;
                top: 50%;
                right: -20px;
                transform: translate(50%, -50%);
                width: 35px;
                height: 35px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: blue;
            }

        }

        .left-body {
            display: flex;
            padding: 20px 0;
            align-items: center;

            i {
                font-size: 1.5rem;
            }

            h4 {
                margin-left: 20px;
            }
        }

        .left-body2 {
            padding: 0 0 20px 0;
        }
    }

    .right {
        flex-grow: 1;
        background-color: darkkhaki;
        .choose-table {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .choose-left {
                  display: flex;
                  align-items: center;
                select {
                    font-size: 10px;
                    margin: 0 5px;
                    padding: 5px;
                }
            }
            button {
                font-size: 0.8rem;
            }
        }
        .right-header {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
            border-bottom: 1px solid black;
            ul {

                display: flex;
                list-style: none;
                padding: 0;

                .oz {
                    position: relative;

                    p {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: -10px;
                        left: 10px;
                        border-radius: 50%;
                        background-color: red;
                        width: 20px;
                        height: 20px;
                        color: white;

                    }

                    i {
                        margin-right: 30px;
                        font-size: 1.5rem;
                    }
                }

            }

            .user {
                position: relative;

                i {
                    font-size: 1.5rem;
                }

                .user1 {
                    position: absolute;
                    right: 0px;
                    border-radius: 5%;
                    background-color: gray;
                    z-index: 1;

                    li {
                        padding: 5px 10px;

                        &:hover {
                            color: white;
                            background-color: black;
                        }
                    }


                }
            }
        }

        .right-main {
            .card {
                h6 {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: pink;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    margin-top: 10px;
                    margin-left: 10px;
                }

                .food-header {
                    display: flex;
                    justify-content: space-between;

                    p {
                        margin-top: 10px;

                    }

                    i {
                        margin-top: 10px;
                        margin-right: 10px;
                    }

                }

                .card-img {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 150px;
                        height: 150px;
                    }
                }

                .card-body {
                    display: flex;
                    justify-content: space-around;
                }

                .card-bodyfood {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;

                }

            }
        }

        .right-foods {
            .choose-table {
                button {
                    color: black;
                }
            }

            .card {
                h6 {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: pink;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                }

                .food-header {
                    display: flex;
                    justify-content: space-between;

                    

                }

                .card-img {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 150px;
                        height: 150px;
                    }
                }

                .card-bodyfood {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;

                    .card-bodyfood1 {
                        display: flex;
                        margin-bottom: 10px;
                        input{
                            width: 30px;
                            height: 30px;
                            margin-top: 7px;
                            margin-left: 10px;
                            margin-right: 10px;
                            text-align: center;
                        }

                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 10px;
                            border-radius: 50%;
                            background-color: pink;
                            width: 25px;
                            height: 25px;
                            color: rgb(121, 36, 36);
                        }

                    }
                }

            }
        }
        .right-ifo {
            .card{
              .card-body{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    
                    border-radius: 50%;
                    width: 250px;
                    height: 250px;
                }
              }  
            }
        }

    }
}



@media screen and (min-width :1025px) {
    .left {

        position: relative;
        height: 100vh;
    }

    .right {
        height: 100vh;
        overflow-y: auto;
    }
}

@media screen and (min-width :741px) and (max-width :1024px) {
    .left {
        .left-header {
            h4 {
                display: none;
            }
        }

        .left-body {
            h4 {
                display: none;
            }
        }
    }

    .right {
        height: 100vh;
        overflow-y: auto;
    }
}

@media screen and (max-width : 741px) {
    .admin {
        flex-direction: column;
    }

    .left {
        .left-header {
            .left-icon {
                right: 20px !important;
            }
        }

        .left-main {
            display: none;
        }
    }
}