<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/HomeAdmin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="admin">
        <div class="left">
            <div class="left-header">
                <h4>CHIEN STORE</h4>
                <i class="fa-solid fa-shop"></i>
                <div class="left-icon">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            <hr>
            <div class="left-body">
                <i class="fa-solid fa-gauge"></i>
                <h4>DASH BOARD</h4>
            </div>
            <div class="left-body">
                <h4>UI ELEMTOR</h4>
            </div>
            <hr>
            <div class="left-body">
                <i class="fa-regular fa-bookmark"></i>
                <h4>RESERVATION</h4>
            </div>
            <div class="left-body">
                <i class="fa-solid fa-bowl-food"></i>
                <h4>ORDER FOOD</h4>
            </div>
            <div class="left-body">
                <i class="fa-solid fa-money-bill"></i>
                <h4>FAY BILL</h4>
            </div>
            <div class="left-body">
                <i class="fa-solid fa-circle-info"></i>
                <h4>INFORMATION</h4>
            </div>
        </div>
        <div class="right">
            <div class="right-header">
                <ul>
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-bell"></i></li>
                    <li><i class="fa-regular fa-envelope"></i></li>
                </ul>
                <div class="user">
                    <i class="fa-solid fa-house-user"></i>
                </div>
            </div>
            <div class="row g-2 ms-2 mt-2 right-main">
                <div class="col-lg-3 col-md-6 col-12 me-2 card" >
                    <h6>1</h6>
                    <div class="card-img">
                        <img src="../img/meeting.png" class="card-img-top" alt="...">
                    </div>
                    <div class=" card-body">
                        <div class="add">
                            <i class=" fa-solid fa-plus"></i>
                            <p>ADD</p>
                        </div>
                        <div class="cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p>CART</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card" >
                    <h6>2</h6>
                    <div class="card-img">
                        <img src="../img/meeting.png" class="card-img-top" alt="...">
                    </div>
                    <div class=" card-body">
                        <div class="add">
                            <i class=" fa-solid fa-plus"></i>
                            <p>ADD</p>
                        </div>
                        <div class="cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p>CART</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card" >
                    <h6>3</h6>
                    <div class="card-img">
                        <img src="../img/dining-room.png" class="card-img-top" alt="...">
                    </div>
                    <div class="booking">
                        <i class="fa-regular fa-calendar"></i>
                        <p>BOOKING</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card">
                    <h6>4</h6>
                    <div class="card-img">
                        <img src="../img/dining-room.png" class="card-img-top" alt="...">
                    </div>
                    <div class="booking">
                        <i class="fa-regular fa-calendar"></i>
                        <p>BOOKING</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card">
                    <h6>5</h6>
                    <div class="card-img">
                        <img src="../img/dining-room.png" class="card-img-top" alt="...">
                    </div>
                    <div class="booking">
                        <i class="fa-regular fa-calendar"></i>
                        <p>BOOKING</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card" >
                    <h6>6</h6>
                    <div class="card-img">
                        <img src="../img/dining-room.png" class="card-img-top" alt="...">
                    </div>
                    <div class="booking">
                        <i class="fa-regular fa-calendar"></i>
                        <p>BOOKING</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card" >
                    <h6>7</h6>
                    <div class="card-img">
                        <img src="../img/dining-room.png" class="card-img-top" alt="...">
                    </div>
                    <div class="booking">
                        <i class="fa-regular fa-calendar"></i>
                        <p>BOOKING</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card">
                    <h6>8</h6>
                    <div class="card-img">
                        <img src="../img/dining-room.png" class="card-img-top" alt="...">
                    </div>
                    <div class="booking">
                        <i class="fa-regular fa-calendar"></i>
                        <p>BOOKING</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card" style="width: 15rem;">
                    <h6>9</h6>
                    <div class="card-img">
                        <img src="../img/dining-room.png" class="card-img-top" alt="...">
                    </div>
                    <div class="booking">
                        <i class="fa-regular fa-calendar"></i>
                        <p>BOOKING</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card" >
                    <h6>10</h6>
                    <div class="card-img">
                        <img src="../img/dining-room.png" class="card-img-top" alt="...">
                    </div>
                    <div class="booking">
                        <i class="fa-regular fa-calendar"></i>
                        <p>BOOKING</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card" style="width: 15rem;">
                    <h6>11</h6>
                    <div class="card-img">
                        <img src="../img/dining-room.png" class="card-img-top" alt="...">
                    </div>
                    <div class="booking">
                        <i class="fa-regular fa-calendar"></i>
                        <p>BOOKING</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 me-2 card" style="width: 15rem;">
                    <h6>12</h6>
                    <div class="card-img">
                        <img src="../img/dining-room.png" class="card-img-top" alt="...">
                    </div>
                    <div class="booking">
                        <i class="fa-regular fa-calendar"></i>
                        <p>BOOKING</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>